<a href="https://colab.research.google.com/github/Tekum21/DATA690-WANG/blob/Assignments/Assignment_8ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Libraries

In [0]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data Source: https://collegescorecard.ed.gov

In [0]:
# Loading dataset and selecting only required columns.
Data_URL="https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-All-Data-Elements.csv"

cols=["CONTROL","MD_EARN_WNE_P10"]
Df= pd.read_csv(Data_URL,usecols=cols)

In [122]:
Df.describe(include= "all")

            CONTROL    MD_EARN_WNE_P10
count   6806.000000               5503
unique          NaN                634
top             NaN  PrivacySuppressed
freq            NaN                686
mean       2.087570                NaN
std        0.835281                NaN
min        1.000000                NaN
25%        1.000000                NaN
50%        2.000000                NaN
75%        3.000000                NaN
max        3.000000                NaN

In [123]:
Df.shape

(6806, 2)

In [124]:
Df.dtypes

CONTROL             int64
MD_EARN_WNE_P10    object
dtype: object

In [125]:
Df["CONTROL"]=Df["CONTROL"].astype(str)
Df.dtypes

CONTROL            object
MD_EARN_WNE_P10    object
dtype: object

In [126]:
# Filter the data to display only public institutions (using CONTROL variable)

Df=Df[Df["CONTROL"].str.contains("public institutions")]
Df

Empty DataFrame
Columns: [CONTROL, MD_EARN_WNE_P10]
Index: []

In [111]:
Df.shape

(0, 2)

In [112]:
Df["CONTROL"].unique()

array([], dtype=object)

In [0]:
# Drop the colleges that have zero or missing potential earnings
Df= Df[Df["MD_EARN_WNE_P10"]!=0]

In [130]:
# Fiter and drop all row that containa PrivacySuppressed.
Df=Df[Df["MD_EARN_WNE_P10"].str.contains("PrivacySuppressed")]
Df=Df[Df["MD_EARN_WNE_P10"]!="PrivacySuppressed"]
Df

Empty DataFrame
Columns: [CONTROL, MD_EARN_WNE_P10]
Index: []

In [114]:
# Finding colleges with missing  potential earnings 
Df["MD_EARN_WNE_P10"].isna().sum()

0

In [115]:
# droping out colleges with missing potential earnings
Df["MD_EARN_WNE_P10"].dropna(inplace=True)
Df.describe(include="all")

       CONTROL MD_EARN_WNE_P10
count        0               0
unique       0               0
top        NaN             NaN
freq       NaN             NaN